.button, .activeButton {
    min-width: 80px;
    max-width: 100px;
}

.button {
    background-color: transparent;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #7D8398;
    border-bottom: 2px solid transparent;
    margin-right: 5px;
}


.activeButton {
    background-color: transparent;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: black;
    border-bottom: 2px solid black;
    margin-right: 5px;
}

.button:hover,
.activeButton:hover {
    background-color: rgba(0, 0, 0, 0.02);
}