.row {
    cursor: pointer;
    border-left: 3px solid transparent;
    height: 60px;
}

.expanded {
    border-left-color: #a3a3a3;
}

.childRow {
    border-left-color: #a3a3a3;
}

.chevronCell {
    width: 30px;
    padding: 0;
}

.active, .inactive {
    display: flex;
    justify-content: center;
    border-radius: 12px;
    padding: 6px 12px;
}

.active {
    background-color: #c6ffc1;
}

.inactive {
    background-color: #ffc1c7;
}

@media (max-width: 768px) {
    .childRow td {
        padding: 0;
    }

    .active, .inactive {
        padding: 3px 6px;
    }
}