#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filterButtons::after {
  content: "";
  display: block;
  border-bottom: 1px solid #c2c2c2;
}